@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Share:wght@700&family=VT323&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.parent{
  background-color: darkred;
  border: 20px solid floralwhite;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  /* background: */
  background-size: cover;
  font-family: 'Bungee', cursive;

}

article {
	color: #fff;
	border-radius: 0px;
	padding: 20px;
	font-size: 17vmax;

}

.a1 {
  grid-column: 5/5;
  grid-row: 1/4;
  background: firebrick;
   /* url(../images/bg1.jpg) no-repeat center center; */
}

.a2 {
  grid-column: 1/5;
  grid-row: 1/4;
  background: firebrick;
}


.a5 {
  grid-column: 5/5;
  grid-row: 5/5;
  font-size: 3vmax;
}

.a6 {
  grid-column: 1/5;
  grid-row: 5/5;
  background: firebrick;
  font-size: 7vmax;
  font-family: 'Share', cursive;
}

.a7 {
  grid-column: 5/5;
  grid-row: 1/6;
  background: darkred;
  font-size: 5vmax;
}
